name: ci

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    uses: tty-pt/ci/.github/workflows/all-in-one.yml@main
    with:
      name: libqhnsw
      deps: "libopenblas-dev,libgflags-dev,cmake,gcc-12,g++-12"
      deps_apk: "openblas-dev,gflags-dev,cmake,gcc-12,g++-12"
      deps_pacman: "openblas,gflags,cmake,gcc-12,g++-12"
      deps_rpm: "openblas-devel,gflags-devel,cmake,gcc-12,g++-12"
      deps_brew: "openblas,gflags,cmake,gcc-12,g++-12"
      deps_openbsd: "openblas,gflags,cmake,gcc-12,g++-12"
      publish_to: "deb,apk,pacman,rpm,brew,openbsd"
    secrets:
      HOST: ${{ secrets.OPENBSD_HOST }}
      USER: ${{ secrets.OPENBSD_USER }}
      SSH_KEY: ${{ secrets.OPENBSD_SSH_KEY }}
      GPG_PRIVATE_KEY: ${{ secrets.OPENBSD_GPG_PRIVATE_KEY }}
      GPG_PASSPHRASE: ${{ secrets.OPENBSD_GPG_PASSPHRASE }}
      GPG_KEYID: ${{ secrets.OPENBSD_GPG_KEY_ID }}
      ABUILD_PRIVATE_KEY: ${{ secrets.ABUILD_PRIVATE_KEY }}
      ABUILD_PUBLIC_KEY: ${{ secrets.ABUILD_PUBLIC_KEY }}
      TAP_TOKEN: ${{ secrets.TAP_TOKEN }}
